.App {
  text-align: center;
  overflow-x: hidden;
}

.bookings {
  padding: 10px;
  text-align: center;
  width: 5rem;
}
.line{
  width: 5rem;
}
.book{
  overflow-x: scroll;
}
::-webkit-scrollbar{
  width: 0;
  background: transparent;
}

.Slot{
  overflow-x: scroll;
  display: none;
}

@media screen and (max-width: 600px) {
  .sidebar{
    display: none!important;
  }
}